* {
  --white: #ffffff;
  --black: #000000;
}

@font-face {
  font-family: "trade_windsregular";
  src: url("./assets/font/tradewinds-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: var(--black);
  font-family: "trade_windsregular", cursive;
}

h1 {
  color: var(--white);
}

#app {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: space-evenly;
}

.board {
  cursor: url(./assets/icons8-crosshair-32.svg), auto;
  display: grid;
  grid: repeat(10, 1fr) / repeat(10, 1fr);
  background-image: url("./assets/cristian-palmer-XexawgzYOBc-unsplash.jpg");

  & .amigo,
  .enemigo {
    border: 1px solid yellow;
    display: flex;
    /* justify-content: center;
    align-items: center; */
  }

  .collision-cell {
    background-color: red !important;
    opacity: 0.7;
  }

  .ship-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .ship-container::after {
    content: url(./assets/ships/directions_boat_24dp_E3E3E3_FILL0_wght400_GRAD0_opsz24.svg);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 25%;
    left: 25%;
  }
}

footer {
  color: var(--white);
}

/* Tablet (min-width: 768px) */
@media (max-width: 768px) {
  .board {
    width: 350px;
    height: 350px;
  }

  #app {
    flex-direction: column;
  }
}

/* Escritorio pequeño (min-width: 1024px) */
@media (min-width: 1024px) {
  .board {
    width: 500px;
    height: 500px;
  }

  #app {
    flex-direction: row;
  }
}

/* Escritorio grande (min-width: 1440px) */
@media (min-width: 1440px) {
  .board {
    width: 500px;
    height: 500px;
  }

  #app {
    flex-direction: row;
  }
}
